.container {
    margin-top: 50px;
}

.sidebar {
    padding-left: 60px;
    border-right: 2px solid #B8B8B8;
}

.tab_button {
    width: 150px;
    text-align: left;
    margin-bottom: 10px;
}

.tab_info {
    padding-left: 100px;
}

.tab_title {
    font-size: 34px;
}

.events_list {
    margin-top: 50px;
}

.event {
    margin-bottom: 20px;
}

.event_title {
    font-size: 22px;
    font-weight: 500;
    margin-left: 10px;
}

.event_time {
    float: right;
}

.date_block {
    margin-bottom: 55px;
    border-top: 2px solid #B8B8B8;
}

.date {
    margin-bottom: 20px;
    font-size: 20px;
    color: #000000;
}